@using Radzen
@inject DialogService DialogService

<div>
    <h3>Test Minimal Dialog</h3>
    <p>This is a minimal test dialog.</p>
    <RadzenButton Text="Close" Click="@(() => DialogService.Close(true))" />
</div>
